/* Standard CSS settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Style */
body {
    background-color: #402377;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #FFF;
    padding: 5px;
}

/* Calculator style */
main {
    background-color: #FFF;
    padding: 20px;
    width: 40vw;
    border-radius: 5px;
}

/* Grades list style */
.grades {
    border: 1px solid grey;
    height: 10%;
    padding: 5px;
}

/* Input section style*/
.input {
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* border: 1px solid orangered; */
    justify-content: space-evenly;
    align-items: center;
}

/* Calculate button style */
.calculate {
    margin: 10px 0px 10px 0px;
    padding: 1px;
}

.add {
    padding: 1px;
}